.App {
  font-family: sans-serif;
  text-align: center;
}

.links {
  margin-left: 10px;
  margin-top: 5px;
}

.link {
  margin-left: 5px;
}

.dataSearch {
  margin-top: 10px;
}

.scroll {
  overflow-y: auto !important;
  max-height: 650px !important;
}

.btn {
  border-radius: 5px;
  border: 1px solid skyblue;
}

.btn > a {
  text-decoration: none;
}

.fa-star {
  color: rgb(255, 169, 27) !important;
}

.box {
  margin-top: 10px !important;
}
